#confirm-image-box{
    display: none;
}

html{
    height:100%;
}

body , #photo-editor-panel .row{
    height:85%;
}

.custom-main-box{
    height:100% !important;
}
#photo-editor-panel {
    height: 100%;
}
#Imagecanvas{
    height:100%;
    width: 100%;
    display: none;
}

#imageOperationBox , #imageOperationBox2{
    display: none;
}
button{
    border-radius: 5px !important;
    border: none !important;
    padding: 0 !important;
    width: 100%;
    text-align: center;
    background-color: #0d6efd;
    color: white;
}
button:hover{
    background-color: #2878f0;
}
.btn-group, .btn-group-vertical{
    display: block !important;

}